
<div class="eatBurger">
    <p>{{id}}.{{burger_name}}</p>
    {{#if eaten}} {{else}}
    <button class="change-dev" data-id="{{id}}" class="devour" devour="{{eaten}}"> Devour Burger!</button>
    {{/if}}
    <button class="delete-burger" data-id="{{this.id}}">DELETE!</button>


</div>